.Card {
  display: flex;
  flex-direction: column;

  gap: var(--gap-l);

  color: var(--text-primary);
  background-color: var(--white);
  padding: var(--padding-l);

  overflow: auto;

  width: 100%;

  .Container {
    display: flex;
    gap: var(--gap-l);
  }

  .CoinImage {
    display: flex;
    align-content: center;
    width: 5rem;
    height: fit-content;

    img {
      width: 100%;
    }
  }

  .CoinInfo {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);

    width: 100%;
  }

  .InfoRow {
    display: flex;
    justify-content: space-between;

    width: 100%;
    gap: var(--gap-m);
  }

  .CardFooter {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-l);
  }
}

.IconButton {
  cursor: pointer;
  transition: var(--transition-ease-short);
  color: var(--icon-primary);
}

.LikeButtonPositive {
  color: var(--icon-red);
}
