.Layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  & > * {
    padding: var(--padding-l);
  }

  .Header {
    display: flex;
    justify-content: center;

    color: var(--text-white);
    background-color: var(--grey);
  }

  .Main {
    height: 100%;
    color: var(--text-white);
    background-color: var(--black);

    overflow-y: scroll;
  }
}
